@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #292A36;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #292A36;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-museo), Arial, Helvetica, sans-serif;
}
h1 {
    font-family: var(--font-museo);
}
* {
    font-family: var(--font-inter);
}
